.grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    grid-template-rows: 1fr 1fr 1fr;
}

.logo {
    grid-column: 1/2;
    align-self: start;
    justify-self: start;
}

.title {
    grid-column: 2/3;
    grid-row: 1/2;
}
.p {
    grid-column: 1/2;
    grid-row: 2/3;
}

#background {
    background: #C0C0C0;
}